
		<h2 class="heading"><center>{header}</center></h2>
		{static}
		<br/>
		{userinfo-hello}<br/>
		{userinfo-connect}
		<br/>
		<div class="ac_connect">
		<div id="ac_connect">
			{vk_link}
			{fb_link}
			{tw_link}
			<!--{fs_link}-->
			{od_link}
			<!--{in_link}-->
			{go_link}
			<!--{gh_link}-->
			<!--{ms_link}-->
			{ma_link}
			
		</div>
		</div>
		<div id="right_userinfo">
			<div id="user_photo">
				<img src="{foto}" alt="{name}"/>
			</div>
		</div>

		<div id="vauth_info"> {vauth_info} </div>
		
		<link media="screen" type="text/css" rel="stylesheet" href="/engine/modules/vauth/styles/vauth_account_connect.css"></link>