<ul id="topmenu" class="lcol reset">
	<li><a href="#"><b>1</b></a></li>
	<li class="sublnk"><a href="#"><b>2</b></a>
		<ul>
			<li><a href="#"><b>3</b></a></li>
		</ul>
	</li>
	<li><a href="#"><b>4</b></a></li>
</ul>
<a class="thide hrss" href="rss.xml" title="Чтение RSS">Чтение RSS</a>